name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: 1.22
    - run: go version 

    - name: Install Swagger
      run: go get -u github.com/swaggo/swag/cmd/swag

    - name: Generate Swagger docs
      run: swag init

    - name: Build
      run: go build -v ./...
      
    - name: Test
      run: go test -v ./...