name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v4
    
    - name: Set up Go
      uses: actions/setup-go@v5
      with:
        go-version: 1.23
    - run: go version 

    - name: Install Swagger
      run: |
          go install github.com/swaggo/swag/cmd/swag@latest
          echo "$(go env GOPATH)/bin" >> $GITHUB_PATH

    - name: Tidy
      run: go mod tidy

    - name: Swag version
      run: swag --version

    - name: Generate Swagger docs
      run: swag init

    - name: Build
      run: go build -v ./...
      
    - name: Test
      run: go test -v ./...